DOMAIN=yourdomain.com

MYSQL_ROOT_PASSWORD=123456
DB_PASSWORD=123456

JWT_SECRET=change-this-to-a-random-secret

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_BUCKET=bycigar
