@font-face {
  font-family: "iconfont"; /* Project id 5040300 */
  src: url('../font/iconfonteb37.woff2?t=1760425047893') format('woff2'),
       url('../font/iconfonteb37.woff?t=1760425047893') format('woff'),
       url('../font/iconfonteb37.ttf?t=1760425047893') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youhuoyundanhao:before {
  content: "\e627";
  color: #F4D17B;
}

